* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************/
/****** GENERIC ******/
/********************/

body {
  padding: 40px;
  font-family: "Helvetica", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

section {
  margin-top: 10vh;
  margin-bottom: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 5px;
  color: #878a8f;
}

h1 {
  font-size: 75px;
  letter-spacing: -3px;
  color: #0f141e;
}

a {
  text-decoration: none;
  color: #0f141e;
  /* padding-bottom: 2px; */
  font-weight: 700;
  transition: 0.1s;
}

a:hover {
  border-bottom: #0f141e 3px solid;
}

/*********************/
/***** NAV/LOGO *****/
/********************/

.logo-container {
  width: 18.5vw;
  display: flex;
  justify-content: space-evenly;
}

nav {
  padding: 15px 0;
  font-weight: 700;
  letter-spacing: 2.6px;
  font-size: 13px;
}

/*********************/
/****** HERO ******/
/********************/

.hero-section {
  height: 50vh;
  width: 60vw;
}

.hero-section > p {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #878a8f;
}

.hero-links span {
  margin: 0 20px;
  font-size: 16px;
  color: #878a8f;
}

.hero-links > a {
  font-size: 18px;
}

/*********************/
/***** PROJECTS *****/
/********************/

.projects-section > h5 {
  margin-bottom: 20px;
}

.projects-list {
  margin-top: 15vh;
}

.project-card {
  height: 100vh;
}

.project-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 20, 30, 0);
  color: rgba(15, 20, 30, 0);
  height: 100%;
  width: 44.5%;
  transition: 0.5s;
}

.project-card .d {
  position: absolute;
  color: rgba(231, 231, 231, 1);
  font-size: 24px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 50px;
  transition: 0.5s;
  width: 250px;
}

.project-card:hover .project-description {
  background-color: rgba(15, 20, 30, 0.8);
  color: rgb(197, 197, 197);
}

.project-card:hover .d {
  color: rgba(226, 226, 226, 0);
}

/*********************/
/***** GRID/COL *****/
/********************/

.row {
  display: flex;
  margin-bottom: 10vh;
}

.column {
  flex: 50%;
}

.column1 {
  margin-right: 60px;
}

/*********************/
/***** CONTACT *****/
/********************/

.contact-section {
  align-items: center;
}

.contact-link {
  display: flex;
}

.contact-section > .contact-link > a {
  font-size: 72px;
  letter-spacing: -1px;
  margin-top: 3vh;
}

.contact-section > .contact-link > a:hover {
  border-bottom: #0f141e 7px solid;
}

.contact-section > .contact-link > a > img {
  height: 52px;
  width: 52px;
  padding-top: 10px;
  margin-left: 10px;
}

/*********************/
/***** FOOTER *****/
/********************/

footer {
  border-top: #878a8f21 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

footer div {
  text-align: center;
}

footer div p {
  margin-top: 10px;
}

footer div p span {
  font-weight: 100;
  letter-spacing: 1px;
  color: #878a8f;
}

.copyright {
  margin-top: 40px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #878a8f;
  font-size: 13px;
}
