* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #040a17;
    color: #747083;
}

h3 {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: -0.1rem;
    color: #E1DCDC;
    font-size: 2.2rem;
}

p {
    font-size: 1.2rem;
    line-height: 160%;
    font-weight: 400;
}

nav {
    background-color: rgb(65, 65, 65);
    height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    gap: 1px;
    overflow: hidden;
    border-bottom: 1px solid rgb(65, 65, 65);
}

nav > div {
    background-color: #040a17;
    display: flex;
    align-items: center;
    color: #747083;
    font-weight: 600;
}

nav div a {
    text-decoration: none;
    color: #747083;
}

nav div a:hover {
    color: #E1DCDC;
}

/* #nav-inner-grid {
    background-color: rgb(65, 65, 65);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
} */

.logo {
    height: 6rem;
    width: 6rem;
    margin-left: 2rem;
    margin-top: 1rem;
    /* margin-top: 1rem; */
}

nav .links {
    display: flex;
    justify-content: space-evenly;
}

nav .links a {
    color: #acaeb5;
}

nav .social-icons {
    justify-content: space-evenly;
}

nav .social-icons svg:hover {
    color: #E1DCDC;
}

nav .get-in-touch {
    justify-content: center;
}

nav .get-in-touch:hover a{
    color: #E1DCDC;
}

#main {
    background-color: rgb(65, 65, 65);
    height: 56vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1px;
    border-bottom: 1px solid rgb(65, 65, 65);
}

#main div {
    background-color: #040a17;
}

#main #hero-img {
    background-color: rgb(73, 0, 73);
}

#main .intro {
    padding: 4rem;
    display: flex;
    align-items: flex-end;
}

#secondary {
    background-color: rgb(65, 65, 65);
    height: 32vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1px;
}

#secondary div {
    background-color: #040a17;
}

#secondary .work {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#secondary .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    color: #E1DCDC;
}

#secondary .about svg {
    transition: all 500ms ease;
}

#secondary .about:hover svg {
    transform: rotate(90deg);
}