---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="mx-20">
			<div class="bg-white w-80 py-6 px-8 mt-10 rounded-2xl shadow-2xl">
				<h1 class="font-bold text-2xl text-gray-800">
					The Bitter Lesson
				</h1>
				<div class="text-sm mt-2 text-gray-900">
					<p>Rich Sutton</p>
					<p>March 13, 2019</p>
				</div>
			</div>
			<div class="flex gap-4 mt-10">
				<div class="bg-white py-6 px-8 rounded-2xl shadow-2xl w-1/2">
					<p class="text-sm text-gray-900">
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Eum iste labore quidem doloremque quas. Deleniti
						non dolorem doloremque minima, expedita beatae, dolorum
						reprehenderit dolores aperiam maiores sed sapiente eum
						neque. Lorem ipsum, dolor sit amet consectetur
						adipisicing elit. Eum iste labore quidem doloremque
						quas. Deleniti non dolorem doloremque minima, expedita
						beatae, dolorum reprehenderit dolores aperiam maiores
						sed sapiente eum neque.<br /><br />
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Eum iste labore quidem doloremque quas. Deleniti non dolorem
						doloremque minima, expedita beatae, dolorum reprehenderit
						dolores aperiam maiores sed sapiente eum neque. Lorem ipsum,
						dolor sit amet consectetur adipisicing elit. Eum iste labore
						quidem doloremque quas. Deleniti non dolorem doloremque minima,
						expedita beatae, dolorum reprehenderit dolores aperiam maiores
						sed sapiente eum neque.
					</p>
				</div>
				<div class="bg-white py-6 px-8 rounded-2xl shadow-2xl w-1/2">
					<p class="text-sm text-gray-900">
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Eum iste labore quidem doloremque quas. Deleniti
						non dolorem doloremque minima, expedita beatae, dolorum
						reprehenderit dolores aperiam maiores sed sapiente eum
						neque. Lorem ipsum, dolor sit amet consectetur
						adipisicing elit. Eum iste labore quidem doloremque
						quas. Deleniti non dolorem doloremque minima, expedita
						beatae, dolorum reprehenderit dolores aperiam maiores
						sed sapiente eum neque.<br /><br />
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Eum iste labore quidem doloremque quas. Deleniti non dolorem
						doloremque minima, expedita beatae, dolorum reprehenderit
						dolores aperiam maiores sed sapiente eum neque. Lorem ipsum,
						dolor sit amet consectetur adipisicing elit. Eum iste labore
						quidem doloremque quas. Deleniti non dolorem doloremque minima,
						expedita beatae, dolorum reprehenderit dolores aperiam maiores
						sed sapiente eum neque
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
